/* ================ Basic Setup ================ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

/* ================ Reusable Components ================ */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}
/* ================ Headings ================ */

h1, h2 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 200%;
	word-spacing: 4px;
}

h2 {
	font-size: 180%;
	text-align: center;
	word-spacing: 2px;
	margin-bottom: 30px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #ff4626;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;

}

/* ================ Long Copy ================ */


/* ================ Buttons ================ */

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #ff6348;
	border: 1px solid #ff6348;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghoust:visited {
	border: 1px solid #ff6348;
	color: #ff6348;
}

.btn:hover, 
.btn:active {
	background-color: #ff4626;
}

.btn-full:hover,
.btn-full:active {
	border: 1px solid #ff6348;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #ff6348;
	color: #fff;
}


/* ================ Header ================ */

header {
	background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(images/maxresdefault.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: auto;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-39%, -45%);
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 45px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border: 2px solid transparent;
	transition: border-bottom 0.2s;	
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #ff6348;
}

